body{
	margin:0;
	text-transform: none;
}

h1{
	color: Pink;
	font-size: 2em;
	font-family: Lucida Handwriting, cursive;
}

h2{
	font-family: Arial, sans-serif;
}

li{
	font-family: Arial, sans-serif;
}
p{
	background-color: white;
	color: maroon;
}